@tailwind base;
@tailwind components;
@tailwind utilities;

*{  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  font-weight: bold;
}

a{
  text-decoration: none;
}

li{
  font-weight: bold;
  cursor: pointer;
}

button{
  background-color: goldenrod;
  box-shadow: 3px 3px 2px grey;
  border-radius: 5px;
}